---
layout: default
---
 
<div class="home">

{% assign pages_list = site.pages %}



<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
      <ul class="nav">
        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        
	zo
      </ul>
    </div>
  </div>
</div>


<h1 class="page-heading">Articles</h1>

  {% for post in site.posts %}
    |{{ post.title }}#{{ post.url }}
  {% endfor %}


   <ul class="toc">
   {% assign sorted_articles = site.data.articles | sort:"iso_date" %}

   {% for article in sorted_articles reversed %}
    <li>
      <a href="{{ article.url }}">{{ article.title }}</a><br/>
      <span class="post-meta">{{ article.desc }}, {{ article.iso_date | date: "%B %Y" }}</span>
    </li>
   {% endfor %}
   </ul>


</div>
