body, tr, td {  font-family: Arial, Helvetica, sans-serif; text-decoration: none }
.nticker {font-family: arial,helvetica,sans-serif; font-size: 10pt; color: black }
.ntickerlink {font-family: arial,helvetica,sans-serif; font-size: 10pt; color: blue; text-decoration: none }
.navbarblue {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; line-height: 12pt; font-weight: bold; color: #99ccff; text-decoration: none }
.navbarwhite { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; line-height: 12pt; font-weight: bold; color: #FFFFFF; text-decoration: none }
.navbarwhiteReg { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; line-height: 12pt; font-weight: bold; color: #D9D9A6; text-decoration: none }
.breadcrumb { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #666666; line-height: 10pt; text-decoration: none }

.headshp { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #003399; line-height: 11pt; text-decoration: none }
.heads9 { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #666666; line-height: 10pt; text-decoration: none }
.heads9ec { font-family: Arial, Helvetica, sans-serif; font-size: 8.5pt; color: #000099; line-height: 10pt; text-decoration: none }
.heads10 { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #003399; line-height: 10pt; text-decoration: none }
.heads10ec { font-family: Arial, Helvetica, sans-serif; font-size: 9.5pt; color: #000000; line-height: 11pt; text-decoration: none }
.heads11 {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold; color: #003399; line-height: 11pt; text-decoration: none }
.headsred11 {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold; color: #A12B31; line-height: 11pt; text-decoration: none }
.heads12 {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #003399; line-height: 11pt; text-decoration: none }
.heads12solutions {  font-family: Arial, Helvetica, sans-serif; font-size: 13pt; font-weight: bold; color: #006666; line-height: 11.5pt; text-decoration: none }
.headsblack10 { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #333333; line-height: 10pt; text-decoration: none }
.headsblack10ec { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; line-height: 10.5pt; text-decoration: none }
.headsbullet { font-size: 13px; }
.headswhite10 { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #FFFFFF; line-height: 10pt; text-decoration: none }

.topicsolive { font-family: Arial, Helvetica, sans-serif; font-size: 13pt; font-weight: bold; color: #666633; line-height: 12pt; text-decoration: none }
.topicsgray { font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold; color: #333333; line-height: 12pt; text-decoration: none }
.topicscolor { font-family: Arial, Helvetica, sans-serif; font-size: 13pt; font-weight: bold; color: #996633; line-height: 12pt; text-decoration: none }

.textsprimarysummary {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; line-height: 12pt; color: #000000; text-decoration: none }
.textsprimarymore { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #003399; font-weight: bold; text-decoration: none }
.textsprimarysummarybold { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #666666; font-weight: bold; text-decoration: none }
.textsrelatedlinks { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; line-height: 10pt; color: #003399; text-decoration: none }
.textsrelatedlinksblue { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; line-height: 10pt; color: #003399; text-decoration: none }
.textsrelatedlinksec { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; line-height: 10pt; color: #CC0000; text-decoration: none }
.textsrelatedbllinks { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; line-height: 9pt; color: #333333; text-decoration: none }
.textsrelatedgreylinks { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; line-height: 9pt; color: #555555; text-decoration: none }
.textssecondarysummary { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; line-height: 11pt; color: #000000; text-decoration: none }
.textssecondarysummaryec { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; line-height: 11pt; color: #666666; text-decoration: none }
.textssecondarymore { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; line-height: 12pt; color: #003399; text-decoration: none }
.textssecondarysummarygrey { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; line-height: 11pt; color: #666666; text-decoration: none }

.textspackagegray { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; line-height: 9pt; color: #888888; text-decoration: none }
.textspackageblack { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; line-height: 9pt; color: #333333; text-decoration: none }
.textspackagegold { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; line-height: 10pt; color: #999933; text-decoration: none }
.textspackageblue { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; line-height: 9pt; color: #0033399; text-decoration: none }
.textspackageltblue { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; line-height: 9pt; color: #0066CC; text-decoration: none }

.sponsoredblack { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; line-height: 11pt; color: #996633; text-decoration: none }
.sponsoredmaroon { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; line-height: 11pt; color: #993333; text-decoration: none }
.sponsoredblue { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; line-height: 11pt; color: #003399; text-decoration: none }
.alineansponsor { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; line-height: 13pt; color: #2839CD; text-decoration: none }
.alineantext { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; line-height: 11pt; color: #999999; text-decoration: none }

.storyheadline { font-family: "Times New Roman", Times, serif; font-size: 24pt; ; line-height: 24pt; color: #000000; text-decoration: none}
.storybody { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; text-decoration:none }
.storybody2 { font-family: Arial, Helvetica, sans-serif; font-size: 11pt; text-decoration:none }
.storysummary { font-family: Arial, Helvetica, sans-serif; font-size: 12px; ; color: #666666}
.storyattributes { font-family: Arial, Helvetica, sans-serif; font-size: 12px; ; color: #0066CC}

.leading {  font-family: Arial, Helvetica, sans-serif; font-size: 3pt; line-height: 3pt; text-decoration: none}
.leading6 { font-family: Arial, Helvetica, sans-serif; font-size: 6pt; line-height: 6pt; text-decoration: none }
.leading12 { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; line-height: 6pt; text-decoration: none }

.sections24 { font-family: "Arial Narrow"; font-size: 24pt; font-weight: bold; color: #000000; line-height: 16pt; text-decoration: none}
.sections14 { font-family: "Arial Narrow"; font-size: 13pt; font-weight: bold; color: #000000; line-height: 16pt; text-decoration: none}
.sections12 { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #666666; line-height: 11pt; text-decoration: none }

.submenu {	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 0px; LINE-HEIGHT: 110%; PADDING-TOP: 2px; font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #666666; line-height: 11pt; text-decoration: none }
.mhead {  font-family: "Arial Narrow"; font-size: 13pt; font-weight: bold; color: #000000; line-height: 16pt; text-decoration: none }

.short { DISPLAY: inline  }
.long { DISPLAY: none; BACKGROUND-COLOR: #99ff99 }





a:link {text-decoration:none}
a:visited {text-decoration:none}
a:hover {color: #0033FF; text-decoration: underline}

.headlinelinks {font-family: arial,verdana,sans serif; font-size: 8.5pt; color:#000000; line-height:9.5pt;}
.headlinelinks A {color:#B92828; text-decoration:none; font-weight:bold}
.headlinelinks A:hover {color:#808080; text-decoration:underline; font-weight:bold}

.labelorange {  font-family: Arial, Helvetica, sans-serif; font-size: 9.5pt; line-height: 11pt; color: #CD7400; text-decoration: none; font-weight: bold }
.labelred {  font-family: Arial, Helvetica, sans-serif; font-size: 9.5pt; line-height: 11pt; color: #B92828; text-decoration: none; font-weight: bold }

.newheadline {  font-family: Arial, Helvetica, sans-serif; font-size: 14pt; line-height: 16.5pt; color: #000000; text-decoration: none; font-weight: bold }
.newkicker {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; line-height: 13pt; color: black; text-decoration: none }
.newbody {  font-family: Arial, Helvetica, sans-serif; font-size: 9.5pt; line-height: 14pt; color: black; text-decoration: none }
.newsummary {  font-family: Arial, Helvetica, sans-serif; font-size: 11pt; line-height: 12.5pt; color: black; text-decoration: none }

.sponsoredblack2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8.5pt; line-height: 9.5pt; color: #996633; text-decoration: none }
.sponsoredmaroon2 { font-family: Verdana, Arial, sans-serif; font-size: 8.5pt; line-height: 9.5pt; color: #993333; text-decoration: none }
.sponsoredblue2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8.5pt; line-height: 9.5pt; color: #003399; text-decoration: none }

.storylink {  font-family: Arial, Helvetica, sans-serif; font-size: 8.5pt; line-height: 10.5pt; color: #2839CD; text-decoration: none }
.storylinkgray {  font-family: Arial, Helvetica, sans-serif; font-size: 8.5pt; line-height: 10pt; color: #777777; text-decoration: none }
.storylinkblack {  font-family: Arial, Helvetica, sans-serif; font-size: 8.5pt; line-height: 10pt; color: black; text-decoration: none }

.storyextras {  font-family: Arial, Helvetica, sans-serif; font-size: 8.5pt; line-height: 10pt; color: black; text-decoration: none }
.storyextrasbold {  font-family: Arial, Helvetica, sans-serif; font-size: 8.5pt; line-height: 10pt; color: black; text-decoration: none; font-weight: bold }
.storyextrasboldblack  { font-family:Arial,Helvetica,sans serif; color:#000000; font-size: 9pt; text-decoration:none }

.relatedgray {  font-family: Arial, Helvetica, sans-serif; font-size: 8.5pt; line-height: 10pt; color: #555555; text-decoration: none }
.relatedwhite {  font-family: Arial, Helvetica, sans-serif; font-size: 8.5pt; line-height: 10pt; color: #FFFFFF; text-decoration: none }
.relatedheadsblue {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; line-height: 10.5pt; color: #2839CD; text-decoration: none; font-weight: bold }

.tagline {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; line-height: 9pt; color: #555555; text-decoration: none }
.utilitygray { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; line-height: 11pt; color: #666666; text-decoration: none }
.vendorbody {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; line-height: 11.5pt; color: black; text-decoration: none }
.vendorlink {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; line-height: 11.5pt; color: #2839CD; text-decoration: none }
.leftnavlinks { font-family: Arial, Helvetica, sans-serif; font-size: 8.5pt; line-height: 10pt; color: #333333; text-decoration: none }

.Headline {  font-family: Verdana, Arial, sans-serif; font-size: 8.5pt; line-height: 10.5pt; color: #993333; text-decoration: none; font-weight: bold}
.Description {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8.5pt; line-height: 9.5pt; color: #996633; text-decoration: none}
.Header {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; line-height: 9pt; color: #888888; text-decoration: none; font-weight: normal}
.Dash {  font-family: Arial, Helvetica, sans-serif; font-size: 8.5pt; font-style: normal; line-height: normal; color: #CC9966; font-weight: bold}

