
<header class="site-header">

  <div class="wrapper">
    <a class="page-link home-link" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">{% include menu-icon.svg %}</a>
     <div class="trigger">
       <ul>
       <li class="page-link" id="nav-articles"><a href="{{ site.baseurl }}/articles.html">All articles</a></li>
       <li class="page-link" id="nav-bio"><a href="{{ site.baseurl }}/bio">About</a></li>
       <li class="page-link" id="nav-blog"><a href="http://pstrassmann.blogspot.com">Blog</a></li>
       <li class="page-link" id="nav-consulting"><a href="http://strassmann.com/consulting">Consulting</a></li>
       </ul>
     </div>
     </nav>

  </div>

</header>

<script>
$(document).ready(function() {
    $(".active").removeClass("active");
    var category = "{{ page.category }}";
    if (category == "Computerworld"){
       $("#nav-cw").addClass("active");
    } else if (category == "Bio"){
       $("#nav-bio").addClass("active");
    } else if (category == "AFCEA"){
       $("#nav-afcea").addClass("active");
    } else if (category == "IDC"){
       $("#nav-idc").addClass("active");
    } else if (category == "Baseline"){
       $("#nav-baseline").addClass("active");
    } else if (category == "Articles"){
       $("#nav-articles").addClass("active");
    }
});

</script>
