<script>
  (function() {
    var cx = '012132534391986700465:his8pz_xliu';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<!-- <gcse:search></gcse:search>-->


<div class="gcse-searchbox" data-resultsUrl="http://www.example.com"
     data-newWindow="true" data-queryParameterName="search" >

<script>
$(document).ready(function() {
     //$("#___gcse_0").css('width', 200);
     //$('td.gsc-search-button input').css('padding', 6);
    })
</script>
