---
title: AFCEA/Signal
category: AFCEA
layout: default
---

<style>
  h2 {margin-top: 20px}
  img {margin-right: 70px; margin-bottom: 20px}
</style>


{% include afcea.html %}

   <ul class="toc">
   {% assign last_year = -1 %}
   {% assign sorted_articles = site.data.articles  %}


   {% for article in sorted_articles reversed %}

     {% if article.desc contains 'AFCEA' %}

      {% capture year %}{{ article.iso_date | date: "%Y" }} {% endcapture %}
        {% if year != last_year %}
        <h2>{{ year }}</h2>
	{% assign last_year = year %}     
	{% endif %}
        <li><a href="{{ article.url }}">{{ article.title }}</a><br/>
	  <span class="post-meta">{{ article.desc }}, {{ article.iso_date | date: "%B %Y" }}</span>
	</li>
     {% endif %}   
   {% endfor %}
   </ul>
