 .home-link {
  position: relative;
  top: 2em;
  font-size: 150%;
 }

 nav.site-nav {
  line-height: 1.4em;
  z-index: 1;
 }
 nav.site-nav h2 {
    font-weight: 500;
    color: #666;
    font-size: 100%;
    margin-bottom: 3px;
 }
 nav.site-nav li {
    list-style:none;
 }
 nav.site-nav li.column {
    float: left;
    margin-left: 2em;
 }
 #nav-books, #nav-idc {
   margin-top: 1em;
 }

 nav.site-nav ul.links {
   margin-left: 0px;
 } 
 nav.site-nav ul.links li.active {
    background-color: #d4d4ef;
 }
 nav.site-nav ul.links li:hover {
    background-color: #E4E4FF;
 }
 nav.site-nav ul.links li:hover a {
    text-decoration: none;
 }

@media screen and (max-width: 600px) {
    .home-link {
      top: .6em;
    }
    nav.site-nav {
       border: solid 2px gray;
    }
    nav.site-nav li.column {
      margin-left: 0;
      margin-right: 2em;
    }
}


