 .home-link {
  position: relative;
  top: .5em;
  font-size: 150%;
 }

 nav.site-nav ul {
  margin-left: 0px;
 }

 nav.site-nav {
  position: relative;
  top: .5em;
  z-index: 1;
 }
 nav.site-nav li {
    list-style:none;
    float: left;
 }


@media screen and (max-width: 600px) {
    .home-link {
      top: .6em;
    }
    nav.site-nav {
       border: solid 2px gray;
    }
}


