a.browse {
    font-weight: 500;
    font-size: 120%;
}

ul.toc li img {
  margin-right: 5px;
  margin-top: -2px;
}

.gsc-control-cse {
  padding: 0px !important;
}

.pdf {
  font-size: 80%;
  margin-left: 6px;
}

.years {
  margin-left: 30px;
  a {
    margin-right: 10px;
   }
}

.wide-tile {
  color: #fff;
  background-color: #8B95f8;
  background-image: url(/assets/tiles.png);
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width:100%;
  bottom: 0;

  padding: 50px 0px;
  @include media-query($on-laptop) {
       padding: 20px 0px;
  }
}


#banner {
  min-width: 100%;
  position:absolute;
  left: 0;
  bottom:0;
  z-index: -10;
}
  
#white {
    min-width: 100%;
    height: 500px;
    position: absolute;
    background-color: white;
    left: 0px;
    top: 0px;
    z-index: -5;
}

form input[type=text] {
  margin-top: 4px;
  padding: 4px;
  width: 250px;
  font-size: 90%;
  font-weight: normal;
  border: solid 1px $grey-color;
}


