---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.tags %}
        <div class="tags">Tags: 
        {% for tag in page.tags %}
        <span class="tag"><a href="/articles.html?t={{tag}}">{{ tag }}</a></span>
        {% endfor %}</div>
    {% endif %}
    {% if page.publication %}{{ page.publication }}{% endif %}
    <p class="post-meta">{{ page.desc }}{% if page.original %} • <a href="{{ page.original }}">Original</a>{% endif %}
<br/>
{% comment %}
  Dates: handle full dates (2014-12-4) or partial dates (2014-12) using two format strings
{% endcomment %}
{% if page.date %}
  {% assign day = (page.date | date: "%-d") %}
  {% if day != page.date %}
    {{ page.date | date: "%B %-d, %Y" }}
  {% else %}
    {% capture noday %}{{ day }}-1{% endcapture%}
    {{ noday | date: "%B %Y" }}
  {% endif %}
{% endif %}
{% if page.author %} • by {{ page.author }}{% endif %}
{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
