.navhead   {
  font-size:70%;
  font-family:verdana,arial ce,arial; 
  color:#000000;
}                     
A.headlink         { color:#FFFFFF; text-decoration:none; }
A.headlink:visited { color:#FFFFFF; text-decoration:none; }
A.headlink:hover   { color:#FFFFFF; text-decoration:underline; }

.more   {
  font-size:70%;
  font-family:verdana,arial ce,arial; 
  color:#cc0000;
  }
.moreart   {
  font-size:80%;
  font-family:verdana,arial ce,arial; 
  font-weight:bold;
  color:#cc0000;
  }
.bigbody   {
  font-size:75%;
  font-family:verdana,arial ce,arial; 
  }
.body   {
  font-size:70%;
  font-family:verdana,arial ce,arial; 
  }
.article  {
  font-size:75%;
  font-family:verdana,arial ce,arial; 
  line-height:1.4em;
  letter-spacing:0.03em;
  }
.lead   {
  font-size:75%;
  font-family:verdana,arial ce,arial; 
  font-weight:bold;
  color: #7C95BF;
  letter-spacing:0.03em;
  }
.tagline  {
  font-size:100%;
  font-family: verdana, arial ce,arial; 
  font-weight:bold;
  color: #7C95BF;
  }
.author   {
  font-size:90%;
  font-family:arial ce,arial; 
  letter-spacing:0.10em;
  font-weight:900;
  color: #C8C8C8;
  }
.bigtitle   {
  font-size:160%;
  font-family:arial ce;
  font-weight:bold;
  }
.bigtitle2   {
  font-size:170%;
  font-family:times new roman;
  font-weight:bold;
  font-style:italic;
  }
.tabbody   {
  font-size:75%;
  font-family:verdana,arial ce,arial; 
  }
.formbody   {
  font-size:70%;
  font-family:verdana,arial ce,arial; 
  }
.panelhead   {
  font-size:75%;
  font-weight:bold;
  font-family:verdana,arial ce,arial; 
  }
.hlbody   {
  font-size:70%;
  font-family:verdana,arial ce,arial; 
  }
.frsbody   {
  font-size:70%;
  font-family:arial ce,arial; 
  }
.letter   {
  font-size:85%;
  font-family:times new roman; 
  font-style:italic;
  }
.hlhead   {
  font-size:80%;
  font-family:verdana,arial ce,arial; 
  font-weight:bold;
  }
.hldate   {
  font-size:110%;
  font-family:verdana,arial ce,arial; 
  font-weight:bold;
  color:#aa242b;
  }
.head0   {
  font-size:120%;
  font-family:arial ce,arial; 
  font-weight:bold;
  }
.head4   {
  font-size:160%;
  font-family:arial ce,arial; 
  font-weight:bold;
  }

.head1   {
  font-size:95%;
  font-family:verdana,arial ce,arial; 
  font-weight:bold;
  }
.head2   {
  font-size:70%;
  font-family:verdana,arial ce,arial; 
  font-weight:bold;
  color:#FFFFFF;
  text-decoration:none;
  }
A.head2:hover   {text-decoration:underline; }
  

.head2a   {
  font-size:70%;
  font-family:verdana,arial ce,arial; 
  font-weight:bold;
  color:#AFCBF7;
  text-decoration:none;
  }
A.head2a:hover   {text-decoration:underline; }

.head3   {
  font-size:75%;
  font-family:verdana,arial ce,arial; 
  text-decoration:none;
  color:#7C95BF;
  }
.navleftb   {
  font-size:70%;
  font-family:tahoma,arial ce,arial; 
  font-weight:bold;
  color:#404040;
  }                     

.navleftr   {
  font-size:70%;
  font-family:tahoma,arial ce,arial; 
  font-weight:bold;
  color:#D06060;
  }                     
  
.navtop   {
  font-size:70%;
  font-family:verdana,arial ce,arial; 
  color:#000080;
}                   
.navbot   {
  font-size:70%;
  font-family:verdana,arial ce,arial; 
  color:#606060;
}                     

.number   {
  font-size:70%;
  font-family:verdana,arial ce,arial; 
  color:#404040;
}                     

.tabbodyn   {
  font-size:70%;
  font-family:verdana,arial ce,arial;
  background-color:#261378; 
  color:#FFFFFF
  }
  
.tabbody1   {
  font-size:70%;
  font-family:verdana,arial ce,arial;
  background-color:#F6FFFF; 
  }

.tabbody2   {
  font-size:70%;
  font-family:verdana,arial ce,arial;
  background-color:#FFFFFF; 
  }

.tabniepan2   {
  font-size:75%;
  font-family:verdana,arial ce,arial;
  background-color:#EEEEEE; 
  }
  
.tabkol1   {
  font-size:10px;
  font-family:verdana,arial ce,arial;
  background-color:#E0FED6; 
  }

.tabkol2   {
  font-size:10px;
  font-family:verdana,arial ce,arial;
  background-color:#EEEEEE; 
  }

.tabkol3   {
  font-size:10px;
  font-family:verdana,arial ce,arial;
  background-color:#FF9B8D; 
  }

.tabpan_ek   {
  font-size:75%;
  font-family:verdana,arial ce,arial;
  background-color:#3AD805; 
  }
  
.tabpan_in   {
  font-size:75%;
  font-family:verdana,arial ce,arial;
  background-color:#A8FC8B; 
  }

.tabniepan   {
  font-size:75%;
  font-family:verdana,arial ce,arial;
  background-color:#E0FED6; 
  }
  
.wyn1_10   {
  font-size:75%;
  font-family:verdana,arial ce,arial;
  background-color:#FF5656; 
  }
  
.wyn11_20   {
  font-size:75%;
  font-family:verdana,arial ce,arial;
  background-color:#FFA856; 
  }
  
.wyn21_40   {
  font-size:75%;
  font-family:verdana,arial ce,arial;
  background-color:#FFD656; 
  }
  
.wyn41_   {
  font-size:75%;
  font-family:verdana,arial ce,arial;
  background-color:#EBFF56; 
  }

.tgray   {
  font-family:verdana,arial ce,arial; 
  color:#808080;
}

.nar	{
	font-weight: bold; font-size: 18px; 
	font-family: verdana,arial ce,arial;
	color:#244C93;
}

.bnar	{
	font-weight: bold; font-size: 22px; 
	font-family: verdana,arial ce,arial;
	color:#244C93;
}

.hnar	{
	font-size: 24px; 
	font-family: verdana,arial ce,arial;
	color:#244C93;
}

A.hllink         { color:#000080 }
A.hllink:visited { color:#000080 }
A.hllink:hover   { color:#cc0000 }

A.hllink2         { color:#000080; text-decoration:none;  }
A.hllink2:visited { color:#000080; text-decoration:none;  }
A.hllink2:hover   { color:#cc0000; text-decoration:underline;  }

A.tlink         { color:#000080;}
A.tlink:visited { color:#000080;}
A.tlink:hover   { color:#cc0000;}

A.toplink         { color:#000080; text-decoration:none; }
A.toplink:visited { color:#000080; text-decoration:none; }
A.toplink:hover   { color:#cc0000; text-decoration:underline; }

A.tablink	    { color:#FFFFFF; text-decoration:underline; }
A.tablink:visited { color:#FFFFFF; text-decoration:underline; }
A.tablink:hover   { color:#FFFFFF; text-decoration:underline; }
   

A.botlink         { color:#606060; text-decoration:none; }
A.botlink:visited { color:#606060; text-decoration:none; }
A.botlink:hover   { color:#000000; text-decoration:underline; }
            
A.navlinkb         { color:#404040; text-decoration:none; }
A.navlinkb:visited { color:#404040; text-decoration:none; }
A.navlinkb:hover   { color:#D06060; text-decoration:underline; }

A.navlinkr         { color:#D06060; text-decoration:none; }
A.navlinkr:visited { color:#D06060; text-decoration:none; }
A.navlinkr:hover   { color:#404040; text-decoration:underline; }

.f5   {
  font-size:80%;
  font-family:verdana,arial ce,arial; 
  color:#606060;
}                     
.f5l   {
  color:#606060;
  text-decoration:none;
} 
.mail   {
  font-size:70%;
  font-family:verdana,arial ce,arial; 
  color:#000000;
}                    
.qh {BACKGROUND: #404040; COLOR: #ffffff;FONT-FAMILY: verdana,arial ce,arial; FONT-SIZE: 100%; FONT-WEIGHT: 600;
}
.qo {BACKGROUND: #e8e8d0; COLOR: #000000;FONT-FAMILY: verdana,arial ce,arial; FONT-SIZE: 75%; FONT-WEIGHT: 300;
}
.qw {BACKGROUND: #e8e8d0; COLOR: #404040;FONT-FAMILY: verdana,arial ce,arial; FONT-SIZE: 120%; FONT-WEIGHT: 300;
}
.pic{color:#000000;border-color:#000000;}

.st {font-size:11px;font-family:verdana,arial ce,arial;}
.stb {font-size:11px;font-family:verdana,arial ce,arial;font-weight: bold;}
a.st {font-size:11px;font-family:verdana,arial ce,arial;color:#606060;}
a.stb {font-size:11px;font-family:verdana,arial ce,arial;font-weight: bold;color:#606060;}
a.stc {font-size:11px;font-family:verdana,arial ce,arial;font-weight: bold;color:#FF0000;}


.forumauthor { font-size: 8pt; font-weight: normal; font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif;}
.forumsubject { font-size: 9pt; color: #000000; font-weight: bold;  font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif;}
.forummediumsubject { font-size: 10pt; color: #000000; font-weight: bold;  font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif;}
.forumbigsubject { font-size: 14pt; color: #000000; font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif;}
.menulink {font-size: 10pt; font-weight: normal;font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif;}
.forumtext {font-size: 10pt; font-weight: normal; font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif;}
.forumbigtext { font-size: 14pt; color: #000000; font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif;}
.forumlink { font-size: 8pt; font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif;}
.forumbody { font-size: 10pt; font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif;}
.forumcounter { font-size: 8pt; font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif;}
.forumdot { color: #000000; }
.forumlight { background: #B0c8FF; }

.s_tit { FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica; FONT-SIZE: 8pt; color: #000000;}
.s_titlnk { FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica; FONT-SIZE: 8pt; }

A.s_titlnk         { color:#000080; text-decoration:underline; }
A.s_titlnk:visited { color:#000080; text-decoration:underline; }
A.s_titlnk:hover   { color:#cc0000; text-decoration:underline; }

.s_qnum { FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica; FONT-SIZE: 12px; font-weight: bold;}
.s_q { FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica; FONT-SIZE: 8pt; }
.s_hbgcolor { BACKGROUND-COLOR: #CCDDFF; }
.s_htit { FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica; FONT-SIZE: 8pt; color: #000000;}
.s_htitlnk { FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica; FONT-SIZE: 8pt; }
.s_hct { FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica; FONT-SIZE: 8pt; color: #000000;}
.s_results { FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica; FONT-SIZE: 8pt; }
.s_rlnk { FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica; FONT-SIZE: 10pt; }
.s_radr { font-size: 11px; color: #505050;}
.s_rfnd { FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica; FONT-SIZE: 10pt; }

.g80
{
	font-family			:	Verdana, Arial, Helvetica, sans-serif;
	font-size			:	12px;
	background			:	#7C95BF;
	border-bottom		:	1px solid #244C93;
	border-right		:	1px solid #244C93;
	border-left			:	1px solid #244C93;
	border-top			:	1px solid #244C93;
	color				:	#FFFFFF;
	height				:	22px;
	text-decoration		:	none;
	cursor				:	hand; 
	width				:	80px; 
	border-color		:	#D6D6D6 #003399 #10387B #D6D6D6;
	font-weight			:	bold; text-align: center;
	border-top-width	:	1px; border-right-width: 1px;
	border-bottom-width	:	2px;
	border-left-width	:	1px;
}

.hr {color: #FFCC00; background: #FFCC00; height: 3px; padding: 0px; margin: 0px; bottom:0px;}

.a09	{font-size:  9px;	font-family: Verdana, Arial, Helvetica, sans-serif; }
.a09b	{font-size:  9px; font-family: Verdana, Arial, Helvetica, sans-serif;; font-weight: bold }
.a0		{font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif; }
.a0b	{font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif;; font-weight: bold }
.a1		{font-size: 11px;	font-family: Verdana, Arial, Helvetica, sans-serif; }
.a1b	{font-size: 11px;	font-family: Verdana, Arial, Helvetica, sans-serif;; font-weight: bold }
.a2		{font-size: 12px;	font-family: Verdana, Arial, Helvetica, sans-serif; }
.a2b	{font-size: 12px;	font-family: Verdana, Arial, Helvetica, sans-serif;; font-weight: bold }
.a3		{font-size: 13px;	font-family: Verdana, Arial, Helvetica, sans-serif; }
.a3b	{font-size: 13px;	font-family: Verdana, Arial, Helvetica, sans-serif;; font-weight: bold }
.a4		{font-size: 14px;	font-family: Verdana, Arial, Helvetica, sans-serif; }
.a4b	{font-size: 14px;	font-family: Verdana, Arial, Helvetica, sans-serif;; font-weight: bold }
.a5		{font-size: 15px;	font-family: Verdana, Arial, Helvetica, sans-serif; }
.a5b	{font-size: 15px;	font-family: Verdana, Arial, Helvetica, sans-serif;; font-weight: bold }
.a6		{font-size: 16px;	font-family: Verdana, Arial, Helvetica, sans-serif; }
.a6b	{font-size: 16px;	font-family: Verdana, Arial, Helvetica, sans-serif;; font-weight: bold }
.a7		{font-size: 17px;	font-family: Verdana, Arial, Helvetica, sans-serif; }
.a7b	{font-size: 17px;	font-family: Verdana, Arial, Helvetica, sans-serif;; font-weight: bold }

.tbl_tb {padding: 2px; text-align: left; color: #FF0000; background-color: #e7f0ff; border: solid 1x; border-color: #008050;}
.tbl_tda {padding: 3px; text-align: left; color: #000000; background-color: #e7f0ff; font-size: 10px; font-weight: bold; font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; white-space: nowrap; }
.tbl_td0 {padding: 3px; color: #000000; background-color: #f8ffff; font-size: 10px; font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif}}
